.single {
    height: 260px;
    width: 160px;
    border-radius: 20px;
    background-color: white;
    margin-right: 10px; 
}

.single:hover {
    background: blue;
    color: white;
}

.single .top {
    margin-top: 15px;
    margin-left: 10px;
    text-align: left;
}

.single .top .title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.single .top .sub {
    font-size: 12px;
    /* color: grey; */
}

.single .mid {
    height: 150px;
    width: auto;
}

.single .bottom-single {
    height: 50px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.single .bottom-single .price {
    margin-left: 10px;
}

.single .bottom-single .price .title {
    font-size: 12px;
    margin-top: -10px;
    color: grey;
}

.single .bottom-single .price .price-val {
    font-size: 18px;
    font-weight: bold;
    margin-top: -10px;
}

.single .bottom-single .rating {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    color: grey;
}