.top {
    margin-top: 100px;
    text-align: center;
}

.top .title {
    font-size: 30px;
    font-weight: bold;
}

.top .sub {
    margin-top: 8px;
    font-size: 18px;
    color: grey;
}

.bottom {
    font-size: 20px;
    text-align: center;
}

.bottom .button {
    position: absolute;
    margin: 500px 80px;
}

.bottom .button button {
    border-radius: 20px;
    background-color: blue;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
}