.main-wrapper {
    height: 100vh;
    width: 100vw;
    background: black;
}

.main-wrapper .top {
    padding-top: 100px;
    text-align: center;
    background: linear-gradient(#000000, #000000);
}

.main-wrapper .top .title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main-wrapper .top .sub {
    margin-top: 8px;
    font-size: 18px;
    color: white;
    padding-bottom: 50px;
    margin-bottom: -5px;
}

.main-wrapper .main-mid {
    height: 350px;
    width: auto;
    background-image: url('../../assets/images/home.png');
    background-repeat: no-repeat;
    background-size: 400px 350px;
}

.main-wrapper .bottom {
    margin-top: -5px;
    height: 260px;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(#000000, #000000);
}

.main-wrapper .bottom .button {
    position: absolute;
    margin: 100px 80px;
}

.main-wrapper .bottom .button button {
    border-radius: 30px;
    background-color: #314FFD;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
}