.home-wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#FEFEFE, #F5F5F5, #EAEAEC, #EAEAEC);
}

.profile {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.profile .image {
    margin-left: 40px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid grey;
}

.profile .description {
    margin: 15px 10px;
}

.profile .description .head {
    color: grey;
}

.profile .description .name {
    font-weight: bold;
    font-size: 25px;
}

.carousel {
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.carousel .nav {
    background-color: none;
    border: none;
}

.middle {
    margin: 10px 20px;
}

.middle .title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.middle .left {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.middle .right {
    margin-top: 5px;
    font-size: 15px;
    text-align: right;
    color: #4B5ED2;
}

.middle .listing {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 285px;
}

.middle .listing::-webkit-scrollbar {
    display: none;
}

.bottom-home {
    margin-top: 30px;
    bottom: 10px;
    position: fixed;
    width: 90%;
    padding: 10px 20px;
}

.bottom-home .plus {
    z-index: 2;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    border: 8px solid #EAEAEC;
    margin-left: 150px;
    margin-top: -26px;
    height: 45px;
    width: 45px;
    background-color: #314FFB;
}

.bottom-home .bar {
    height: 50px;
    border-radius: 25px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carousel .nav {
    background: white;
    border-radius: 50%;
}

/* .carousel .nav span {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background: black;
} */
