.profile {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.profile .image {
    margin-left: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: grey;
}

.profile .description {
    margin: 15px 10px;
}

.profile .description .head {
    color: grey;
}

.profile .description .name {
    font-weight: bold;
    font-size: 25px;
}

.carousel {
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.carousel .nav {
    background-color: none;
    border: none;
}

.middle {
    margin: 10px 20px;
}

.middle .title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.middle .left {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.middle .right {
    margin-top: 5px;
    font-size: 15px;
    text-align: right;
    color: #4B5ED2;
}

.middle .listing {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 310px;
}

.bottom-home {
    margin-top: 30px;
    bottom: 10px;
    position: fixed;
    width: 90%;
    padding: 10px 20px;
}

.bottom-home .plus {
    z-index: 2;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 150px;
    margin-top: -26px;
    height: 45px;
    width: 45px;
    background-color: #314FFB;
}

.bottom-home .bar {
    height: 50px;
    border-radius: 25px;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
