.top-card {
    /* background-color: indigo; */
    height: 100%;
    width: 100%;
}

.top-card .image {
    height: 160px;
    width: auto;
    /* background-color: red; */
}

.top-card .bottom-top {
    background: white;
    height: 72px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    /* padding: 5px; */
    border-radius: 15px;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.top-card .bottom-top .body {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
}

.top-card .bottom-top .body .text {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

.top-card .bottom-top .body .text .title {
    font-size: 20px;
    font-weight: bold;
}

.top-card .bottom-top .body .text .sub {
    font-size: 15px;
    color: grey;
}