.top-card {
    background-color: indigo;
    height: 100%;
    width: 100%;
}

.top-card .image {
    height: 160px;
    width: auto;
    background-color: red;
}

.top-card .bottom {
    height: 50px;
    width: 100px;
    /* padding: 5px; */
    background-color: green;
}

.top-card .bottom .body {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
}

.top-card .bottom .body .text {
    text-align: left;
}

.top-card .bottom .body .text .title {
    font-size: 20px;
    font-weight: bold;
}

.top-card .bottom .body .text .sub {
    font-size: 15px;
    color: grey;
}